<style>
    #containerArm2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/ArmBackground.png");
    z-index: 0;
    float: none;
    }

    #containerArm2-cell {
    width: 620px;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2ArmGui.css">
    <td id="containerArm2-cell">
        <div id="containerArm2">
            <!-- Right -->
            <div id="rightArmIndicator" ng-show="isRight()" ng-click="setPanel('rightArm')" class="rectangleArmIndicatorActive preventDragSelect">right Arm</div>
            <div id="rightArmIndicator" ng-show="!isRight()" ng-click="setPanel('rightArm')" class="rectangleArmIndicator preventDragSelect">right Arm</div>

            <div id="rightBicepButton" ng-show="isRight()" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightBicep')">right bicep</div>   
            <div id="rightBicepDot" ng-show="isRight()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="rightBicepLine" ng-show="isRight()" class="rightArmLine preventHandDragSelect"></div>

            <div id="rightRotateButton" ng-show="isRight()" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightRotate')">right rotate</div>
            <div id="rightRotateDot" ng-show="isRight()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="rightRotateLine" ng-show="isRight()" class="rightArmLine preventHandDragSelect"></div>
            
            <div id="rightShoulderButton" ng-show="isRight()" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightShoulder')">right shoulder</div>
            <div id="rightShoulderDot" ng-show="isRight()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="rightShoulderLine" ng-show="isRight()" class="rightArmLine preventHandDragSelect"></div>

            <div id="rightOmoplateButton" ng-show="isRight()" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightOmoplate')">right omoplate</div>
            <div id="rightOmoplateDot" ng-show="isRight()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="rightOmoplateLine" ng-show="isRight()" class="rightArmLine preventHandDragSelect"></div>

            <!-- Left -->
            <div id="leftArmIndicator" ng-show="isLeft()" ng-click="setPanel('leftArm')" class="rectangleArmIndicatorActive preventArmDragSelect">left Arm</div>
            <div id="leftArmIndicator" ng-show="!isLeft()" ng-click="setPanel('leftArm')" class="rectangleArmIndicator preventArmDragSelect">left Arm</div>

            <div id="leftBicepButton" ng-show="isLeft()" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftBicep')">left bicep</div>
            <div id="leftBicepDot" ng-show="isLeft()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="leftBicepLine" ng-show="isLeft()" class="leftArmLine preventHandDragSelect"></div>

            <a id="leftRotateButton" ng-show="isLeft()" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftRotate')">left rotate</a>
            <div id="leftRotateDot" ng-show="isLeft()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="leftRotateLine" ng-show="isLeft()" class="leftArmLine preventHandDragSelect"></div>

            <div id="leftShoulderButton" ng-show="isLeft()" class="dotArmButtons leftArmSide preventArmDragSelect"  ng-click="setPanel('leftShoulder')">left shoulder</div>
            <div id="leftShoulderDot" ng-show="isLeft()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="leftShoulderLine" ng-show="isLeft()" class="leftArmLine preventHandDragSelect"></div>

            <div id="leftOmoplateButton" ng-show="isLeft()" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftOmoplate')">left omoplate</div>
            <div id="leftOmoplateDot" ng-show="isLeft()" class="dotArmEnabled preventArmDragSelect"></div>
            <div id="leftOmoplateLine" ng-show="isLeft()" class="leftArmLine preventHandDragSelect"></div>

            <div id="leftBackArmButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="mrl.changeTab('i01')">Back</div>
            <div id="leftBackArmArrow" class="leftBackArmArrow preventArmDragSelect"></div>
            
            <a id="leftDnaButton" class="dotArmButtons leftArmSide preventArmDragSelect" href="http://inmoov.fr/shoulder-and-torso/" target="_blank"><img src="../img/InMoov2/dna_Activ.png"/></a>

       </div>
</td>
<td>
<!-- panels begin -->
<!-------HERE START THE RIGHT ARM--------------------------------------------->

<!------------------------ rightArm begin ------------------------------>
<table ng-show="showPanel('rightArm')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('service')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.png"/>
        <label>rightArm is:</label>&nbsp;
        <img ng-src="{{(isRight())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>
</table>
<!------------------------ rightArm end ------------------------------>
<!------------------------ rightBicep begin ------------------------------>
<table ng-show="showPanel('rightBicep')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('bicep')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.right.png"/>
        <label>rightArm is:</label>&nbsp;  
        <img ng-src="{{(isRight())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.rightArm.bicep')">Save rightArm.bicep Config</button>
    </td>
</tr>
</table>
<!------------------------ rightBicep end ------------------------------> 
<!------------------------ rightRotate begin ------------------------------>
<table ng-show="showPanel('rightRotate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rotate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.right.png"/>
        <label>rightArm is:</label>&nbsp; 
        <img ng-src="{{(isRight())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.rightArm.rotate')">Save rightArm.rotate Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ rightRotate end ------------------------------> 
<!------------------------ rightShoulder begin ------------------------------>
<table ng-show="showPanel('rightShoulder')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('shoulder')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.right.png"/>
        <label>rightArm is:</label>&nbsp;  
        <img ng-src="{{(isRight())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.rightArm.shoulder')">Save rightArm.shoulder Config</button>
    </td>
</tr>
</table>
<!------------------------ rightShoulder end ------------------------------> 
<!------------------------ rightOmoplate begin ------------------------------>
<table ng-show="showPanel('rightOmoplate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('omoplate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.right.png"/>
        <label>rightArm is:</label>&nbsp;  
        <img ng-src="{{(isRight())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.rightArm.omoplate')">Save rightArm.omoplate Config</button>
    </td>
</tr>
</table>
<!------------------------ rightOmoplate end ---------------------------->

<!-------HERE START THE LEFT ARM--------------------------------------------->

<!------------------------ leftArm begin ------------------------------>
<table ng-show="showPanel('leftArm')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('service')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.right.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp;  
        <img ng-src="{{(isLeft())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>
</table>
<!------------------------ leftArm end ------------------------------>

<!------------------------ leftBicep begin ------------------------------>
<table ng-show="showPanel('leftBicep')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('bicep')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp; 
        <img ng-src="{{(isLeft())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>     
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.leftArm.bicep')">Save leftArm.bicep Config</button>
    </td>
</tr>
</table>
<!------------------------ leftBicep end ------------------------------> 
<!------------------------ leftRotate begin ------------------------------>
<table ng-show="showPanel('leftRotate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rotate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp; 
        <img ng-src="{{(isLeft())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.leftArm.rotate')">Save leftArm.rotate Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ leftRotate end ------------------------------> 
<!------------------------ leftShoulder begin ------------------------------>
<table ng-show="showPanel('leftShoulder')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('shoulder')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(isLeft())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.leftArm.shoulder')">Save leftArm.shoulder Config</button>
    </td>
</tr>
</table>
<!------------------------ leftShoulder end ------------------------------> 
<!------------------------ leftOmoplate begin ------------------------------>
<table ng-show="showPanel('leftOmoplate')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('omoplate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov2Arm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp;  
        <img ng-src="{{(isLeft())?'../../green.png':'../../red.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="mrl.sendTo('runtime', 'export', 'i01.leftArm.omoplate')">Save leftArm.omoplate Config</button>
    </td>
</tr>
</table>
<!------------------------ leftOmoplate end ------------------------------>        
<!-- panels end -->
</td></tr></table>
