;----------------------------- EYELID CONFIGURATION ----------------------------------------
[MAIN]
isEyeLidsActivated=False
EyeLidsConnectedToArduino=right
;chose left or right existing and connected arduino

EyeLidsLeftActivated=False
EyeLidsRightActivated=False
;EyeLidsLeftActivated : 1 servo control 2 eyelids
;EyeLidsRightActivated+EyeLidsLeftActivated : 1 servo control 1 eyelid


[SERVO_MINIMUM_MAP_OUTPUT]
;your servo minimal limits
eyelidLeft=60
eyelidRight=60

[SERVO_MAXIMUM_MAP_OUTPUT]
;your servo maximal limits
eyelidLeft=120
eyelidRight=120

[SERVO_REST_POSITION]
eyelidLeft=0
eyelidRight=0


;----------------------------------- ADVANCED CONFIGURATION --------------------------------------------------

[SERVO_INVERTED]
eyelidLeft=False
eyelidRight=False

[MAX_SPEED]
eyelidLeft=100
eyelidRight=100

[MINIMUM_MAP_INPUT]
eyelidLeft=0
eyelidRight=0

[MAXIMUM_MAP_INPUT]
eyelidLeft=180
eyelidRight=180

[SERVO_PIN]
eyelidLeft=22
eyelidRight=24

[SERVO_AUTO_DISABLE]
eyelidLeft=True
eyelidRight=True

;----------------------------------- END --------------------------------------------------


