<style>
    #containerArm2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/ArmBackground.png");
    z-index: 0;
    float: none;
    }

    #containerArm2-cell {
    width: 620px;
    }

    .inmoov-sub-panel {
        width: auto;
        max-width: auto;
        margin-bottom: 0px;
    }

    .inmoov-menu-button {
        position: absolute;
        z-index: 30;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2ArmGui.css">
    <td id="containerArm2-cell">
        <div id="containerArm2">
            <!-- Right -->
            <div id="rightArmIndicator" class="rectangleRightArmIndicator preventDragSelect">right Arm</div>

            <div id="rightBicepButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.bicep')">right bicep</div>   
            <div id="rightBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightRotateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.rotate')">right rotate</div>
            <div id="rightRotateDot" class="dotArmEnabled preventArmDragSelect"></div>
            
            <div id="rightShoulderButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.shoulder')">right shoulder</div>
            <div id="rightShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightOmoplateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.omoplate')">right omoplate</div>
            <div id="rightOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <!-- Left -->
            <div id="leftArmIndicator" class="rectangleLeftArmIndicator preventArmDragSelect">left Arm</div>

            <div id="leftBicepButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.bicep')">left bicep</div>
            <div id="leftBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <a id="leftRotateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.rotate')">left rotate</a>
            <div id="leftRotateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftShoulderButton" class="dotArmButtons leftArmSide preventArmDragSelect"  ng-click="setPanel('leftArm.shoulder')">left shoulder</div>
            <div id="leftShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftOmoplateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.omoplate')">left omoplate</div>
            <div id="leftOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <a id="leftBackArmButton" class="dotArmButtons leftArmSide preventArmDragSelect" href="#/service/i01" target="_self">Back</a>
            <!--target="_self"-->
            <!--#/service/i01-->
            <!--http://localhost:8888/#/service/i01-->
            <div id="leftBackArmArrow" class="leftBackArmArrow preventArmDragSelect"></div>

       </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ rightArm.bicep begin ------------------------------>
<table ng-show="showPanel('rightArm.bicep')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.rightArm.bicep</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "right bicep" <br>and the dot to become red and active</p>
        <a class="btn pull-left" ng-click="changeTab(panel.name)" href="">
            <b class="ng-binding">i01.leftArm</b>
        </a>
        <a id="rightBicepButton" class="dotArmButtonsActive"></a>
        <div id="rightBicepDot" class="dotArmEnabledActive preventArmDragSelect"></div>
            <a href="#/service/i01.rightArm.bicep" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.bicep end ------------------------------> 
<!------------------------ rightArm.rotate begin ------------------------------>
<table ng-show="showPanel('rightArm.rotate')" class="inmoov-sub-panel table table-striped">   
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.rightArm.rotate</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "right rotate" <br>and the dot to become red and active</p>
        <a id="rightRotateButton" class="dotArmButtonsActive"></a>
        <div id="rightRotateDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.rightArm.rotate" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ rightArm.rotate end ------------------------------> 
<!------------------------ rightArm.shoulder begin ------------------------------>
<table ng-show="showPanel('rightArm.shoulder')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.rightArm.shoulder</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "right shoulder" <br>and the dot to become red and active</p>
        <a id="rightShoulderButton" class="dotArmButtonsActive"></a>
        <div id="rightShoulderDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.rightArm.shoulder" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.shoulder end ------------------------------> 
<!------------------------ rightArm.omoplate begin ------------------------------>
<table ng-show="showPanel('rightArm.omoplate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.rightArm.omoplate</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "right omoplate" <br>and the dot to become red and active</p>
        <a id="rightOmoplateButton" class="dotArmButtonsActive"></a>
        <div id="rightOmoplateDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.rightArm.omoplate" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.omoplate end ---------------------------->

<!-------HERE START THE LEFT ARM--------------------------------------------->

<!------------------------ leftArm.bicep begin ------------------------------>
<table ng-show="showPanel('leftArm.bicep')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.leftArm.bicep</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "left bicep" <br>and the dot to become red and active</p>
        <a id="leftBicepButton" class="dotArmButtonsActive"></a>
        <div id="leftBicepDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.leftArm.bicep" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.bicep end ------------------------------> 
<!------------------------ leftArm.rotate begin ------------------------------>
<table ng-show="showPanel('leftArm.rotate')" class="inmoov-sub-panel table table-striped">   
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.leftArm.rotate</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "left rotate" <br>and the dot to become red and active</p>
        <a id="leftRotateButton" class="dotArmButtonsActive"></a>
        <div id="leftRotateDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.leftArm.rotate" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ leftArm.rotate end ------------------------------> 
<!------------------------ leftArm.shoulder begin ------------------------------>
<table ng-show="showPanel('leftArm.shoulder')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.leftArm.shoulder</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "left shoulder" <br>and the dot to become red and active</p>
        <a id="leftShoulderButton" class="dotArmButtonsActive"></a>
        <div id="leftShoulderDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.leftArm.shoulder" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.shoulder end ------------------------------> 
<!------------------------ leftArm.omoplate begin ------------------------------>
<table ng-show="showPanel('leftArm.omoplate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img ng-src="Servo.png" alt="" width="40" src="Servo.png">&nbsp;&nbsp;<label>i01.leftArm.omoplate</label>
    </td>
</tr>
<tr>
    <td>
        <p>FIXME Here we need to display the servo content,<br> without going out of the MRL environment.<br>
        And we need to have the button "left omoplate" <br>and the dot to become red and active</p>
        <a id="leftOmoplateButton" class="dotArmButtonsActive"></a>
        <div id="leftOmoplateDot" class="dotArmEnabledActive preventArmDragSelect"></div>
        <a href="#/service/i01.leftArm.omoplate" target="_self">DISPLAY</a>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.omoplate end ------------------------------>        
<!-- panels end -->
</td></tr></table>
