<style>
    .inmoov-sub-panel {
        width: auto;
        max-width: auto;
        margin-bottom: 0px;
    }

    #container {
        width: 620px;
        height: 588px;
        /* border: 1px solid #000; */
        position: relative;
        background-image: url("img/InMoov2/background.png");
        z-index: 0;
    }

    #container-cell {
        width: 620px;
    }

    .inmoov-menu-button {
        position: absolute;
        z-index: 30;
    }

    .inmoov-main-menu-button {
        position: absolute;
        left: 170px;
        top: 155px;
        z-index: 10;
    }
</style>
<table border="1" class="table table-striped">
    <tr>
        <td colspan="2">&nbsp;{{onText}} 
        </td>
    </tr>
    <tr>
        <td id="container-cell">
            <!--inmoov map begin-->
            <div id="container">            
                <div class="inmoov-menu-button" ng-repeat="button in buttons" id="button.name +'Src'" ng-init="imgSrc='../img/InMoov2/'+button.name+'_off.png'" ng-mouseover="imgSrc='../img/InMoov2/'+button.name+'_hover.png'" ng-mouseout="imgSrc='../img/InMoov2/'+button.name+'_off.png'" ng-style="imgStyle='transform:translateX(300px)'">
                    <img class="inmoov-menu-button" ng-src="{{imgSrc}}" ng-click="setPanel(button.name)" style="transform: translate({{button.translate}})"/>
                </div>
                <img class="inmoov-menu-button" ng-src="{{selectedButton.img}}" ng-click="setPanel(selectedButton.name)" style="transform: translate({{selectedButton.translate}})"/>               
            </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ brain begin ------------------------------>
<table ng-show="showPanel('brain')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('brain')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../Brain.png"/>
        <label>brain Activated:</label>&nbsp;
        <toggle width="70" height="30" ng-model="service.isBrainActivated" ng-change="!service.isBrainActivated?msg.stopBrain():msg.startBrain()" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <label>chatBot</label>
        {{service.language}}   
        
        <div class="form-group">
            <select class="form-control" ng-model="languageSelected" id="language-select" ng-change="msg.setLocale(languageSelected)">
                <option ng-repeat="(key, value) in service.locales" value="{{key}}">{{key}} - {{value.displayLanguage}}</option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <td>
        <!------START FIXING-------------->
        <p>---FIXME---</p>
        <label>user:</label>
        {{currentUserName}}
        
        <!------end FIXING-------------->
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ brain end ------------------------------>
<!------------------------ arm begin ------------------------------>
<table ng-show="showPanel('arm')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;    
        <toggle width="70" height="28" ng-model="service.isLeftArmActivated" ng-change="!service.isLeftArmActivated?msg.stopLeftArm():msg.startLeftArm()" width="120" height="28" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm Activated:</label>&nbsp;&nbsp;  
        <toggle width="70" height="28" ng-model="service.isRightArmActivated" ng-change="!service.isRightArmActivated?msg.stopRightArm():msg.startRightArm()" width="120" height="28" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ arm end ------------------------------>
<!------------------------ ear begin ------------------------------>
<table ng-show="showPanel('ear')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('ear')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov_ear.png"/>
        <label>ear Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isEarActivated" ng-change="!service.isEarActivated?msg.stopEar():msg.startEar()" width="80" height="30" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <select class="form-control" ng-model="selectedLanguage" ng-change="setLanguage()">
            <option ng-repeat="(key, value) in service.locales" value="{{key}}">{{value.displayLanguage}} - {{value.displayCountry}} </option>
        </select>
        {{service.status}}
    </td>
</tr>    
<tr>
    <td>
        <button ng-click="changeListeningState()">
            <span>
                <img ng-src="../WebkitSpeechRecognition/mic-animate.gif" width="80" src="../WebkitSpeechRecognition/mic-animate.gif">
            </span>
        </button>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ ear end ------------------------------>
<!------------------------ torso begin ------------------------------>
<table ng-show="showPanel('torso')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('torso')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isTorsoActivated" ng-change="!service.isTorsoActivated?msg.stopTorso():msg.startTorso()" width="80" height="30" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ torso end ------------------------------>
<!------------------------ hand begin ------------------------------>
<table ng-show="showPanel('hand')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftHand')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHand.png"/>
        <label>leftHand Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isLeftHandActivated" ng-change="!service.isLeftHandActivated?msg.stopLeftHand():msg.startLeftHand()" width="120" height="30" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightHand')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHand.right.png"/>
        <label>rightHand Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isRightHandActivated" ng-change="!service.isRightHandActivated?msg.stopRightHand():msg.startRightHand()" width="120" height="30" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ hand end ------------------------------>
<!------------------------ mouth begin ------------------------------>
<table ng-show="showPanel('mouth')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('mouth')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov_mouth.png"/>
        <label>mouth Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isMouthActivated" ng-change="!service.isMouthActivated?msg.stopMouth():msg.startMouth()" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <div width="120" height="28">
            <label ng-show="!service.isMouthActivated">speech service</label>
            <select ng-show="!service.isMouthActivated" class="form-control" ng-model="service.speechService" id="language-select" ng-change="msg.setSpeechType(service.speechService)">
                <option ng-repeat="speechType in speechTypes" value="{{getShortName(speechType)}}">{{getShortName(speechType)}}</option>
            </select>
        </div>
        <div width="120" height="28" ng-show="service.isMouthActivated">
            <label ng-show="service.isMouthActivated && !service.mute">voices</label>
            <span ng-show="service.isMouthActivated && !service.mute" width="120" height="28">
                <select class="form-control" ng-model="service.voiceSelected" id="language-select" ng-change="msg.setVoice(service.voiceSelected)" width="120" height="28">
                    <option ng-repeat="voice in service.voices" value="{{voice.name}}">{{voice.name}} {{voice.gender}} {{voice.locale.tag}}  {{voice.description}}</option>
                </select>
            </span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label>mute is</label>&nbsp;
            <toggle ng-model="service.mute" ng-change="msg.setMute(service.mute)" width="70" height="28" on="ON" off="OFF"></toggle>
            <br/>
            <div width="120" height="28">
            <input class="form-control" type="text" id="speakText" ng-model="speakText" placeholder="type here" press-enter="speak()">
            <button class="btn btn-default form-control" ng-click="speak()">let it speak</button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ mouth end ------------------------------>
<!------------------------ head begin ------------------------------>
<table ng-show="showPanel('head')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHead.png"/>
        <label>head Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isHeadActivated" ng-change="!service.isHeadActivated?msg.stopHead():msg.startHead()" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('eye')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../OpenCV.png"/>
        <label>vision Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isOpenCVActivated" ng-change="!service.isOpenCVActivated?msg.stopOpenCV():msg.startOpenCV()" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelid')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovEyelids.png"/>
        <label>eyeLids Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isEyeLidsActivated" ng-change="!service.isEyeLidsActivated?msg.stopEyeLids():msg.startEyeLids()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelidLeft')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>eyeLidsLeft Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="EyeLidsLeftActivated" ng-change="!EyeLidsLeftActivated?msg.stopEyeLids():msg.startEyeLids()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelidRight')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>eyeLidsRight Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle class="btn-right" width="70" height="28" ng-model="EyeLidsRightActivated" ng-change="!EyeLidsRightActivated?msg.stopEyeLids():msg.startEyeLids()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <img src="../Tracking.png"/>
        <toggle ng-model="service.mute" ng-change="msg.setMute(!service.mute)" width="140" height="30" on="head tracking on" off="head tracking off"></toggle>
        <toggle ng-model="service.mute" ng-change="msg.setMute(!service.mute)" width="140" height="30" on="eyes tracking on" off="eyes tracking off"></toggle>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ head end ------------------------------>
<!------------------------ controller begin ------------------------------>
<table ng-show="showPanel('controller')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightPort')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Right:</label>&nbsp;
        <img width="30" height="30" ng-click="setPanel('controller_right')" ng-src="../square_blue_in.png" src="../square_blue_in.png.png">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftPort')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Left:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img width="30" height="30" ng-click="setPanel('controller_left')" ng-src="../square_blue_in.png" src="../square_blue_in.png.png">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('arduino3')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Extra1:</label>
        <img width="30" height="30" ng-click="setPanel('controller_extra1')" ng-src="../square_blue_in.png" src="../square_blue_in.png.png">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('arduino4')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Extra2:</label>
        <img width="30" height="30" ng-click="setPanel('controller_extra2')" ng-src="../square_blue_in.png" src="../square_blue_in.png.png">
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('extra')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ controller end ------------------------------>
<!------------------------ controller setting right begin ------------------------------>
<table ng-show="showPanel('controller_right')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller Right:</label>
    </td>
    <td>    
        <div class="form-group">
            <label for="port">port</label>
<!-- typeahead            
            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" id="port" ng-model="portName" ng-readonly="isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue" typeahead-min-length="0" title="Serial port to connect to - 
            clicking on this box should show a list of possible ports. 
            Typically Windows list serial ports as COM1,COM2 etc and Linux or Mac will have /dev/ttyS1 .. etc 
            You may create a virtual port just by typing some arbitrary name and making sure the service is in virtual mode, then pressing the connect button" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1021-2471" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1021-2471" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" style="">


        </ul>
            <label for="rate">rate</label>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-readonly="isConnected" id="rate" ng-model="rate" uib-typeahead="rate for rate in possibleBaud | filter:$viewValue" typeahead-min-length="0" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1022-2440" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1022-2440" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate">

        </ul>
-->        
        </div>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting right end ------------------------------>
<!------------------------ controller setting left begin ------------------------------>
<table ng-show="showPanel('controller_left')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller Left:</label>
    </td>
    <td>    
        <div class="form-group">
            <label for="port">port</label>
<!-- typeahead            
            
            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" id="port" ng-model="portName" ng-readonly="isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue" typeahead-min-length="0" title="Serial port to connect to - 
            clicking on this box should show a list of possible ports. 
            Typically Windows list serial ports as COM1,COM2 etc and Linux or Mac will have /dev/ttyS1 .. etc 
            You may create a virtual port just by typing some arbitrary name and making sure the service is in virtual mode, then pressing the connect button" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1021-2471" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1021-2471" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" style="">
        </ul>
            <label for="rate">rate</label>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-readonly="isConnected" id="rate" ng-model="rate" uib-typeahead="rate for rate in possibleBaud | filter:$viewValue" typeahead-min-length="0" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1022-2440" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1022-2440" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate">
    <!-- ngRepeat: match in matches track by $index -->
        </ul>
    </div>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting left end ------------------------------>
<!------------------------ controller setting extra1 begin ------------------------------>
<table ng-show="showPanel('controller_extra1')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller Extra1:</label>
    </td>
    <td>    
<!-- typeahead            
        <div class="form-group">
            <label for="port">port</label>
            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" id="port" ng-model="portName" ng-readonly="isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue" typeahead-min-length="0" title="Serial port to connect to - 
            clicking on this box should show a list of possible ports. 
            Typically Windows list serial ports as COM1,COM2 etc and Linux or Mac will have /dev/ttyS1 .. etc 
            You may create a virtual port just by typing some arbitrary name and making sure the service is in virtual mode, then pressing the connect button" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1021-2471" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1021-2471" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" style="">
        </ul>
            <label for="rate">rate</label>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-readonly="isConnected" id="rate" ng-model="rate" uib-typeahead="rate for rate in possibleBaud | filter:$viewValue" typeahead-min-length="0" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1022-2440" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1022-2440" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate">
    <!-- ngRepeat: match in matches track by $index -->
        </ul>
    </div>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting extra1 end ------------------------------>
<!------------------------ controller setting extra2 begin ------------------------------>
<table ng-show="showPanel('controller_extra2')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller Extra2:</label>
    </td>
    <td>    
<!-- typeahead            
        <div class="form-group">
            <label for="port">port</label>
            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" id="port" ng-model="portName" ng-readonly="isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue" typeahead-min-length="0" title="Serial port to connect to - 
            clicking on this box should show a list of possible ports. 
            Typically Windows list serial ports as COM1,COM2 etc and Linux or Mac will have /dev/ttyS1 .. etc 
            You may create a virtual port just by typing some arbitrary name and making sure the service is in virtual mode, then pressing the connect button" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1021-2471" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1021-2471" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" style="">
        </ul>
            <label for="rate">rate</label>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-readonly="isConnected" id="rate" ng-model="rate" uib-typeahead="rate for rate in possibleBaud | filter:$viewValue" typeahead-min-length="0" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-1022-2440" style=""><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="true" uib-typeahead-popup="" id="typeahead-1022-2440" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate">
    <!-- ngRepeat: match in matches track by $index -->
        </ul>
        </div>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting extra2 end ------------------------------>
<!------------------------ neopixel begin ------------------------------>
<table ng-show="showPanel('neopixel')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('neopixel')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../NeoPixel.png"/>
        <label>neopixel Activated:</label>
    </td>    
    <td>
        <toggle width="70" height="28" ng-model="service.isNeopixelActivated" ng-change="!service.isNeopixelActivated?msg.stopNeopixel():msg.startNeopixel()" on="ON" off="OFF"/></toggle>
    </td>
</tr>
<tr>
    <td>
        <label>NeopixelMaster:</label>
        <td>
            <toggle width="100" height="28" ng-model="service.NeopixelMaster" ng-change="NeopixelMaster" on="ON" off="left"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>NeopixelMasterPort:</label>
        <td>
            <toggle width="100" height="28" ng-model="service.NeopixelMasterPort" ng-change="NeopixelMasterPort" on="ON" off="Serial2"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <div class="row">
          <div class="col-lg-12">
            <!-- simple dropdown -->
            <div class="input-group">
              <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">controller<span class="caret"></span></a>
                <ul uib-dropdown-menu>
                  <li ng-repeat="possibleController in controllers" ng-click="setControllerName(possibleController)"><a href>{{possibleController}}</a></li>
                </ul>
              </span>
          
              <input type="text" class="form-control" ng-model="controllerName" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  

              <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">pin<span class="caret"></span></a>
                <ul uib-dropdown-menu>
                  <li ng-repeat="newPin in pins" ><a href ng-click="setPin(newPin)">{{newPin}}</a></li>
                </ul>
              </span>

              <input type="text" class="form-control" ng-model="pin" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  
             
              <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)" >
                <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">Pixels<span class="caret"></span></a>
                <ul uib-dropdown-menu>
                  <li ng-repeat="newPixel in numPixels" ><a href ng-click="setPixel(newPixel)">{{newPixel}}</a></li>
                </ul>
              </span>

              <input type="text" class="form-control" ng-model="numPixel" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  

              <span class="input-group-btn">
                 <button class="btn btn-default" ng-show="isAttached"  ng-click="msg.detach()">detach</button>
                 <button class="btn btn-default" ng-show="!isAttached"  ng-click="msg.attach(controllerName, pin, numPixel)">attach</button>
              </span>
            </div>
          </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label>boot_green:</label>
        <td>
            <toggle width="70" height="28" ng-model="service.boot_green" ng-change="boot_green" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>downloadSomething_blue:</label>
        <td>
            <toggle width="70" height="28" ng-model="service.downloadSomething_blue" ng-change="downloadSomething_blue" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>error_red:</label>
        <td>
            <toggle width="70" height="28" ng-model="service.error_red" ng-change="error_red" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>flash_when_speak:</label>
        <td>
            <toggle width="70" height="28" ng-model="service.flash_when_speak" ng-change="flash_when_speak" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('extra')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ neopixel end ------------------------------>
<!------------------------ extra begin ------------------------------>
<table ng-show="showPanel('extra')" class="inmoov-sub-panel table table-striped">
 <tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controllers:</label>
        <td>
            <button class="btn btn-default" ng-click="setPanel('controller')">Settings</button>
        </td>
    </td>
</tr>
<tr>
    <td>
        <img src="../NeoPixel.png"/>
        <label>neopixel:</label>
        <td>
            <button class="btn btn-default" ng-click="setPanel('neopixel')">Settings</button>
        </td>
    </td>
</tr>
</table>
<!------------------------ extra end ------------------------------>
<!------------------------ sensor begin ------------------------------>
<table ng-show="showPanel('sensor')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('pir')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../Pir.png"/>
        <label>PIR:</label>
    </td>
    <td>
        <button class="btn btn-default" ng-click="setPanel('pir')">Settings</button>
        <!--<img width="20" height="20" ng-click="setPanel('pir')" ng-src="../add.png" src="../add.png">-->
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('ultraSonic')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../UltrasonicSensor.png"/>
        <label>ultraSonic:</label>
    </td>
    <td>
        <button class="btn btn-default" ng-click="setPanel('ultraSonic')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('openNi')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../kinect.png"/>
        <label>Kinect:</label>
    </td>
    <td>
        <button class="btn btn-default" ng-click="setPanel('kinect')">Settings</button>
    </td>
</tr>
</table>
<!------------------------ sensor end ------------------------------>
<!------------------------ pir begin ------------------------------>
<table ng-show="showPanel('pir')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../Pir.png"/>
        <label>PIR Activated:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.isPirActivated" ng-change="!service.isPirActivated?msg.stopPir():msg.startPir()" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>controller:</label>
        <td>
            <toggle width="100" height="30" ng-model="PirControlerArduino" ng-change="PirControlerArduino" on="ON" off="select"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>pin:</label>
        <td>
            <toggle width="100" height="30" ng-model="PirPin" ng-change="PirPin" on="ON" off="23"/></toggle>
        </td>
    </td>
</tr>
<tr>    
    <td>
        <label>custom sounds if detection:</label>
        <td>
            <toggle width="100" height="30" ng-model="PlayCurstomSoundIfDetection" ng-change="PlayCurstomSoundIfDetection" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ pir end ------------------------------>
<!------------------------ ultraSonic begin ------------------------------>
<table ng-show="showPanel('ultraSonic')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../UltrasonicSensor.png"/>
        <label>UltraSonic Right Activated:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.isUltraSonicRightActivated" ng-change="!service.isUltraSonicRightActivated?msg.stopUltraSonicRight():msg.startUltraSonicRight()" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>  
    <td>
        <label>controller:</label>
        <td>
            <toggle width="100" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="select"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>trigPin:</label>
        <td>
            <toggle width="70" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="29"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>echoPin:</label>
        <td>
            <toggle width="70" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="33"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <img src="../UltrasonicSensor.png"/>
        <label>UltraSonic Left Activated:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.isUltraSonicLeftActivated" ng-change="!service.isUltraSonicLeftActivated?msg.stopUltraSonicLeft():msg.startUltraSonicLeft()" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>controller:</label>
        <td>
            <toggle width="100" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="select"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>trigPin:</label>
        <td>
            <toggle width="70" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="29"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>echoPin:</label>
        <td>
            <toggle width="70" height="30" ng-model="FIXME" ng-change="FIXME" on="ON" off="33"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ ultraSonic end ------------------------------>
<!------------------------ kinect begin ------------------------------>
<table ng-show="showPanel('kinect')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../kinect.png"/>
        <label>kinect:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.isKinectActivated" ng-change="!service.isKinectActivated?msg.stopOpenNi():msg.startOpenNi()" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>ShouldersOffset:</label>
        <td>
            <toggle width="70" height="30" ng-model="openNiShouldersOffset" ng-change="FIXME" on="ON" off="50"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>LeftShoulderInverted:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.openNiLeftShoulderInverted" ng-change="!service.isOpenNiActivated?msg.openNiLeftShoulderInverted" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>RightShoulderInverted:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.openNiRightShoulderInverted" ng-change="!service.isOpenNiActivated?msg.openNiRightShoulderInverted" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ kinect end ------------------------------>
<!------------------------ InMoov begin ------------------------------>
<table ng-show="showPanel('InMoov')" class="inmoov-sub-panel table table-striped">
    <tr>
        <td>
            <img src="../InMoov_Icon.png"/>
            <label>config</label>&nbsp;&nbsp;&nbsp;&nbsp;<img src="../peers.png" height="28" ng-click="filterPeers(null)"/>
            <div class="form-group">
                <select multiple class="form-control">
                    <option>config-01</option>
                    <option>default</option>
                    <option>my-config-01</option>
                    <option>my-config-02</option>
                </select>
            </div>
        <button class="btn btn-default" ng-click="msg.export()">export config</button>
        <button class="btn btn-default" ng-click="msg.exportAll()">export All</button>
            <button class="btn btn-default" ng-click="msg.load()">load</button>
        </td>
    </tr>
    <tr>
        <td>
            <img src="../InMoov.png"/>
            <label>services</label>
            <br/>
            <button class="btn btn-default" ng-click="msg.startAll()">start all</button>
            <!--<button class="btn btn-default" ng-click="msg.loadSystem()">load system</button>-->
            <button class="btn btn-default" ng-click="msg.startServos()">start servos</button>
            <button class="btn btn-default" ng-click="msg.fullSpeed()">full speed</button>
            <button class="btn btn-default" ng-click="msg.halfSpeed()">half speed</button>
            <button class="btn btn-default" type="button" ng-click="msg.stop()">
                <span>
                <img src="../stop.png"/>&nbsp;&nbsp;&nbsp;&nbsp;stop 
            </span>
            </button>
            <button class="btn btn-default" ng-click="msg.disable()">disable</button>
        <!-- FIXME-PLEASE------------------------------------------------------>
        <!--<button class="btn btn-default" type="button" ng-click="msg.setAutoDisable(!service.autoDisable)">autoDisable all 
            <span class="ng-binding">off
            </span>
        </button>-->
        <!--------------------------------------------------------------------->
        </td>
    </tr>
    <tr>
        <td>
            <toggle width="125" height="28" ng-model="service.isVirtual" ng-change="!service.isVirtual?msg.setVirtual(false):msg.setVirtual(true)" on="virtualize ON" off="virtualize OFF"></toggle>
            <toggle width="125" height="28" ng-model="service.isSimulatorActivated" ng-change="!service.isSimulatorActivated?msg.stopSimulator():msg.startSimulator()" on="simulator ON" off="simulator OFF"></toggle>
            <toggle width="135" height="28" ng-model="service.isServoMixerActivated" ng-change="!service.isServoMixerActivated?msg.stopServoMixer():msg.startServoMixer()" on="ServoMixer ON" off="ServoMixer OFF"></toggle>
        </td>
    </tr>
    <tr>
        <td>
            <img src="../InMoovGestureCreator.png"/>
            <label>gestures</label>
            <br/>
            <input class="form-control" type="text" id="gesture" ng-model="selectedGesture" ng-readonly="isConnected" uib-typeahead="gesture for gesture in service.gestures | filter:$viewValue | limitTo:30" typeahead-min-length="0"/>
            <button class="btn btn-default" ng-click="msg.loadGestures()">load gestures</button>
            <button class="btn btn-default" ng-click="msg.cycleGestures()">cycle gestures</button>
            <button class="btn btn-default" ng-click="executeGesture(selectedGesture)">execute</button>
        </td>
    </tr>
</table>
<!------------------------ panel end ------------------------------>
<!-- panels end -->
</td></tr></table>
