<style>
    #containerTorso2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/TorsoBackground.png");
    z-index: 0;
    float: none;
    }

    #containerTorso2-cell {
    width: 620px;
    }

    .inmoov-sub-panel {
        width: auto;
        max-width: auto;
        margin-bottom: 0px;
    }

    .inmoov-menu-button {
        position: absolute;
        z-index: 30;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2TorsoGui.css">
    <td id="containerTorso2-cell">
        <div id="containerTorso2">
            <!-- Right -->
            <div id="torsoIndicator" class="rectangleTorsoIndicator preventTorsoDragSelect">Torso</div>

            <div id="topStomButton" class="dotTorsoButtons rightTorsoSide preventTorsoDragSelect" ng-click="setPanel('topStom')">top Stom</div>
            <div id="topStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="topStomArrowVertical" class="rightTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_vertical.png"/></div>

            <!-- Left -->

            <div id="lowStomButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" ng-click="setPanel('lowStom')">low Stom</div>
            <div id="lowStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="lowStomArrowHorizontal" class="leftTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <div id="midStomButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" ng-click="setPanel('midStom')">mid Stom</div>
            <div id="midStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="midStomArrowHorizontal" class="leftTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <a id="leftBackTorsoButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" href="#/service/i01" target="_self">Back</a>
            <!--<p><i class="leftBackArrow"></i></p>-->
            <div id="leftBackTorsoArrow" class="leftBackTorsoArrow preventTorsoDragSelect"></div>

        </div>
    </td>
<td>
<!-- panels begin -->
<!------------------------ topStom begin ------------------------------>
<table ng-show="showPanel('topStom')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.topStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ topStom end ------------------------------>
<!------------------------ midStom begin ------------------------------>
<table ng-show="showPanel('midStom')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.midStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ midStom end ------------------------------>
<!------------------------ lowStom begin ------------------------------>
<table ng-show="showPanel('lowStom')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.lowStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ lowStom end ------------------------------>
<!-- panels end -->
</td></tr></table>
