<style>
    .inmoov-sub-panel {
        width: auto;
        max-width: auto;
        margin-bottom: 0px;
    }

    #container {
        width: 620px;
        height: 588px;
        /* border: 1px solid #000; */
        position: relative;
        background-image: url("img/InMoov2/background.png");
        z-index: 0;
    }

    #container-cell {
        width: 620px;
    }

    .inmoov-menu-button {
        position: absolute;
        z-index: 30;
    }

    .inmoov-main-menu-button {
        position: absolute;
        left: 170px;
        top: 155px;
        z-index: 10;
    }
</style>
<link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2Gui.css">
<table border="1" class="table table-striped">
    <tr>
        <td colspan="2">&nbsp;{{onText}} 
        </td>
    </tr>
    <tr>
        <td id="container-cell">
            <!--inmoov map begin-->
            <div id="container">            
                <div class="inmoov-menu-button" ng-repeat="button in buttons" id="button.name +'Src'" ng-init="imgSrc='../img/InMoov2/'+button.name+'_off.png'" ng-mouseover="imgSrc='../img/InMoov2/'+button.name+'_hover.png'" ng-mouseout="imgSrc='../img/InMoov2/'+button.name+'_off.png'" ng-style="imgStyle='transform:translateX(300px)'">
                    <img class="inmoov-menu-button" ng-src="{{imgSrc}}" ng-click="setPanel(button.name)" style="transform: translate({{button.translate}})"/>
                </div>
                <img class="inmoov-menu-button" ng-src="{{selectedButton.img}}" ng-click="setPanel(selectedButton.name)" style="transform: translate({{selectedButton.translate}})"/>

                <div id="rightArmGuiDisplay" ng-show="service.isRightArmActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/armR_Activ.png"/></div>

                <div id="leftArmGuiDisplay" ng-show="service.isLeftArmActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/armL_Activ.png"/></div>

                <div id="rightHandGuiDisplay" ng-show="service.isRightHandActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/handR_Activ.png"/></div>

                <div id="leftHandGuiDisplay" ng-show="service.isLeftHandActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/handL_Activ.png"/></div>

                <div id="headGuiDisplay" ng-show="service.isHeadActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/headA_Activ.png"/></div>

                <div id="torsoGuiDisplay" ng-show="service.isTorsoActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/torsoA_Activ.png"/></div>

                <div id="rightLegGuiDisplay" ng-show="service.isRightLegActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/legR_Activ.png"/></div>

                <div id="leftLegGuiDisplay" ng-show="service.isLeftLegActivated" class="GuiDisplays preventGuiDragSelect"><img src="../img/InMoov2/legL_Activ.png"/></div>

                <div id="batteryGuiDisplay" class="GuiDisplays preventGuiDragSelect" ng-click="service.getBatteryLevel()"><img src="../img/InMoov2/battery_Activ.png"/></div>

                <div id="homeGuiButton" class="homeGuiButtons preventGuiDragSelect" ng-click="mrl.changeTab('IntroGui')">Home</div>
            </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ brain begin ------------------------------>
<table ng-show="showPanel('brain')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('brain')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../Brain.png"/>
        <label>brain Activated:</label>&nbsp;
        <toggle width="70" height="30" ng-model="service.isBrainActivated" ng-change="!service.isBrainActivated?msg.stopBrain():msg.startBrain()" on="ON" off="OFF"/>
        <button class="btn btn-default" ng-show="service.isBrainActivated" ng-click="setPanel('brain1')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <label>chatBot</label>
        {{service.language}}   
        
        <div class="form-group">
            <select class="form-control" ng-model="languageSelected" id="language-select" ng-change="msg.setLocale(languageSelected)">
                <option ng-repeat="(key, value) in service.locales" value="{{key}}">{{key}} - {{value.displayLanguage}}</option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ brain end ------------------------------>
<!------------------------ brain1 begin ------------------------------>
<table ng-show="showPanel('brain1')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../Brain.png"/>
        <label>brain:</label>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" ng-show="service.isBrainActivated" service-body panel="mrl.getPanel('i01.brain')"></div>
    </td>
</tr>
</table>
<!------------------------ brain1 end ------------------------------>
<!------------------------ arm begin ------------------------------>
<table ng-show="showPanel('arm')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;    
        <toggle width="70" height="28" ng-model="service.isLeftArmActivated" title="To access settings, the body part must be activated" ng-change="!service.isLeftArmActivated?msg.stopLeftArm():msg.startLeftArm()" width="120" height="28" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isLeftArmActivated" ng-click="mrl.changeTab(service.name + '.leftArm')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm Activated:</label>&nbsp;&nbsp;  
        <toggle width="70" height="28" ng-model="service.isRightArmActivated"  title="To access settings, the body part must be activated" ng-change="!service.isRightArmActivated?msg.stopRightArm():msg.startRightArm()" width="120" height="28" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isRightArmActivated" ng-click="mrl.changeTab(service.name + '.rightArm')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ arm end ------------------------------>
<!------------------------ ear begin ------------------------------>
<table ng-show="showPanel('ear')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('ear')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov_ear.png"/>
        <label>ear Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isEarActivated" ng-change="!service.isEarActivated?msg.stopEar():msg.startEar()" width="80" height="30" on="ON" off="OFF"/>
        <button class="btn btn-default" ng-show="service.isEarActivated" ng-click="setPanel('ear1')">Settings</button>
    </td>
</tr>    
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ ear end ------------------------------>
<!------------------------ ear1 begin ------------------------------>
<table ng-show="showPanel('ear1')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <div class="tab-content" ng-show="service.isEarActivated" service-body panel="mrl.getPanel('i01.ear')"></div>
    </td>
</tr>
</table>
<!------------------------ ear1 end ------------------------------>
<!------------------------ torso begin ------------------------------>
<table ng-show="showPanel('torso')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('torso')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isTorsoActivated" title="To access settings, the body part must be activated" ng-change="!service.isTorsoActivated?msg.stopTorso():msg.startTorso()" width="80" height="30" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isTorsoActivated" ng-click="mrl.changeTab(service.name + '.torso')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ torso end ------------------------------>
<!------------------------ hand begin ------------------------------>
<table ng-show="showPanel('hand')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftHand')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHand.png"/>
        <label>leftHand Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isLeftHandActivated" title="To access settings, the body part must be activated" ng-change="!service.isLeftHandActivated?msg.stopLeftHand():msg.startLeftHand()" width="120" height="30" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isLeftHandActivated" ng-click="mrl.changeTab(service.name + '.leftHand')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightHand')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHand.right.png"/>
        <label>rightHand Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isRightHandActivated" title="To access settings, the body part must be activated" ng-change="!service.isRightHandActivated?msg.stopRightHand():msg.startRightHand()" width="120" height="30" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isRightHandActivated" ng-click="mrl.changeTab(service.name + '.rightHand')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ hand end ------------------------------>
<!------------------------ mouth begin ------------------------------>
<table ng-show="showPanel('mouth')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('mouth')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoov_mouth.png"/>
        <label>mouth Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isMouthActivated" ng-change="!service.isMouthActivated?msg.stopMouth():msg.startMouth()" on="ON" off="OFF"/>
    </td>
</tr>
<tr>
    <td>
        <div width="120" height="28">
            <label ng-show="!service.isMouthActivated">speech service</label>
            <select ng-show="!service.isMouthActivated" class="form-control" ng-model="service.speechService" id="language-select" ng-change="msg.setSpeechType(service.speechService)">
                <option ng-repeat="speechType in speechTypes" value="{{getShortName(speechType)}}">{{getShortName(speechType)}}</option>
            </select>
        </div>
        <div width="120" height="28" ng-show="service.isMouthActivated">
            <label ng-show="service.isMouthActivated && !service.mute">voices</label>
            <span ng-show="service.isMouthActivated && !service.mute" width="120" height="28">
                <select class="form-control" ng-model="service.voiceSelected" id="language-select" ng-change="msg.setVoice(service.voiceSelected)" width="120" height="28">
                    <option ng-repeat="voice in service.voices" value="{{voice.name}}">{{voice.name}} {{voice.gender}} {{voice.locale.tag}}  {{voice.description}}</option>
                </select>
            </span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label>mute is</label>&nbsp;
            <toggle ng-model="service.mute" ng-change="msg.setMute(service.mute)" width="70" height="28" on="ON" off="OFF"></toggle>
            <br/>
            <div width="120" height="28">
            <input class="form-control" type="text" id="speakText" ng-model="speakText" placeholder="type here" press-enter="speak()">
            <button class="btn btn-default form-control" ng-click="speak()">let it speak</button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ mouth end ------------------------------>
<!------------------------ head begin ------------------------------>
<table ng-show="showPanel('head')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHead.png"/>
        <label>head Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isHeadActivated" title="To access settings, the body part must be activated" ng-change="!service.isHeadActivated?msg.stopHead():msg.startHead()" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isHeadActivated" ng-click="mrl.changeTab(service.name + '.head')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('eye')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../OpenCV.png"/>
        <label>vision Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isOpenCVActivated" title="To access settings, the vision must be activated" ng-change="!service.isOpenCVActivated?msg.stopOpenCV():msg.startOpenCV()" on="ON" off="OFF"/>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isOpenCVActivated" ng-click="mrl.changeTab(service.name + '.eye')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelid')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovEyelids.png"/>
        <label>eyeLids Activated:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isEyeLidsActivated" ng-change="!service.isEyeLidsActivated?msg.stopEyeLids():msg.startEyeLids()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelidLeft')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>eyeLidLeft Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="isEyeLidLeftActivated" ng-change="!isEyeLidLeftActivated?msg.stopEyeLidLeft():msg.startEyeLidLeft()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head.eyelidRight')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>eyeLidRight Activated:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle class="btn-right" width="70" height="28" ng-model="isEyeLidRightActivated" ng-change="!isEyeLidRightActivated?msg.stopEyeLidRight():msg.startEyeLidRight()" on="ON" off="OFF">
    </td>
</tr>
<tr>
    <td>
        <img src="../Tracking.png"/>
        <toggle ng-model="service.mute" ng-change="msg.setMute(!service.mute)" width="140" height="30" on="head tracking on" off="head tracking off"></toggle>
        <toggle ng-model="service.mute" ng-change="msg.setMute(!service.mute)" width="140" height="30" on="eyes tracking on" off="eyes tracking off"></toggle>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ head end ------------------------------>
<!------------------------ controller begin ------------------------------>
<table ng-show="showPanel('controller')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightPort')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Right:</label>&nbsp;
        <toggle width="70" height="30" ng-model="service.isRightPortActivated" title="To access settings, the button must be activated" ng-change="!service.isRightPortActivated?msg.stop('i01.right', Arduino):msg.start('i01.right', 'Arduino')" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;  
        <button class="btn btn-default" ng-show="service.isRightPortActivated" width="80" height="30" ng-click="setPanel('controller_right')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftPort')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Left:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="30" ng-model="service.isLeftPortActivated" title="To access settings, the button must be activated" ng-change="!service.isLeftPortActivated?msg.stop('i01.left', Arduino):msg.start('i01.left', 'Arduino')" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;  
        <button class="btn btn-default" ng-show="service.isLeftPortActivated" width="80" height="30" ng-click="setPanel('controller_left')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('arduino3')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Extra1:</label>
        <toggle width="70" height="30" ng-model="service.isExtra1Activated" title="To access settings, the button must be activated" ng-change="!service.isExtra1Activated?msg.stop('i01.extra1', Arduino):msg.start('i01.extra1', 'Arduino')" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;  
        <button class="btn btn-default" ng-show="service.isExtra1Activated" width="80" height="30" ng-click="setPanel('controller_extra1')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('arduino4')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../microcontroller_1.png"/>
        <label>controller Extra2:</label>
        <toggle width="70" height="30" ng-model="service.isExtra2Activated" title="To access settings, the button must be activated" ng-change="!service.isExtra2Activated?msg.stop('i01.extra2', Arduino):msg.start('i01.extra2', 'Arduino')" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;  
        <button class="btn btn-default" ng-show="service.isExtra2Activated" width="80" height="30" ng-click="setPanel('controller_extra2')">Settings</button>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('extra')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ controller end ------------------------------>
<!------------------------ controller setting right begin ------------------------------>
<table ng-show="showPanel('controller_right')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller i01.right:</label>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.right')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting right end ------------------------------>
<!------------------------ controller setting left begin ------------------------------>
<table ng-show="showPanel('controller_left')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller i01.left:</label>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.left')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting left end ------------------------------>
<!------------------------ controller setting extra1 begin ------------------------------>
<table ng-show="showPanel('controller_extra1')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller i01.Extra1:</label>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.Extra1')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting extra1 end ------------------------------>
<!------------------------ controller setting extra2 begin ------------------------------>
<table ng-show="showPanel('controller_extra2')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controller i01.Extra2:</label>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.Extra2')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('controller')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>        
<!------------------------ controller setting extra2 end ------------------------------>
<!------------------------ neopixel begin ------------------------------>
<table ng-show="showPanel('neopixel')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('neopixel')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../NeoPixel.png"/>
        <label>neopixel is:</label>&nbsp;&nbsp;
        <toggle width="70" height="28" ng-model="service.isNeopixelActivated" ng-change="!service.isNeopixelActivated?msg.stopNeopixel():msg.startNeopixel()" on="ON" off="OFF"/></toggle>
        <button class="btn btn-default" ng-show="service.isNeopixelActivated" ng-click="setPanel('neopixel1')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('extra')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ neopixel end ------------------------------>
<!------------------------ neopixel1 begin ------------------------------>
<table ng-show="showPanel('neopixel1')" class="inmoov-sub-panel table table-striped">
<tr>
    <td class="tab-content" service-body panel="mrl.getPanel('i01.neopixel')"></td>
</tr>
<tr>
    <td>
        <label>NeopixelMaster:</label><p>---FIXME---</p>
        <td>
            <toggle width="70" height="28" ng-model="service.NeopixelMaster" ng-change="NeopixelMaster" on="ON" off="left"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>boot_green:</label><p>---FIXME---</p>
        <td>
            <toggle width="70" height="28" ng-model="service.boot_green" ng-change="boot_green" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>downloadSomething_blue:</label><p>---FIXME---</p>
        <td>
            <toggle width="70" height="28" ng-model="service.downloadSomething_blue" ng-change="downloadSomething_blue" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>error_red:</label><p>---FIXME---</p>
        <td>
            <toggle width="70" height="28" ng-model="service.error_red" ng-change="error_red" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <label>flash_when_speak:</label><p>---FIXME---</p>
        <td>
            <toggle width="70" height="28" ng-model="service.flash_when_speak" ng-change="flash_when_speak" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ neopixel1 end ------------------------------>
<!------------------------ extra begin ------------------------------>
<table ng-show="showPanel('extra')" class="inmoov-sub-panel table table-striped">
 <tr>
    <td>
        <img src="../microcontroller_1.png"/>
        <label>controllers:</label>
        <td>
            <button class="btn btn-default" ng-click="setPanel('controller')">Settings</button>
        </td>
    </td>
</tr>
<tr>
    <td>
        <img src="../NeoPixel.png"/>
        <label>neopixel:</label>
        <td>
            <button class="btn btn-default" ng-click="setPanel('neopixel')">Settings</button>
        </td>
    </td>
</tr>
</table>
<!------------------------ extra end ------------------------------>
<!------------------------ sensor begin ------------------------------>
<table ng-show="showPanel('sensor')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('pir')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/></img>
        <!--------------------------------------------------------------->
        <img src="../Pir.png"/>  
        <label>PIR:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="30" ng-model="service.isPirActivated" title="To access settings, the pir must be activated" ng-change="!service.isPirActivated?msg.stopPir():msg.startPir()" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;  
        <button class="btn btn-default" ng-show="service.isPirActivated" width="80" height="30" ng-click="setPanel('pir')">Settings</button>
    </td>
</tr>
<!----------------------------pir end---------------------------------->
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('openNi')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../kinect.png"/>
        <label>Kinect:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="30" ng-model="service.isKinectActivated" title="To access settings, the kinect must be activated" ng-change="!service.isKinectActivated?msg.stopOpenNi():msg.startOpenNi()" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isKinectActivated" ng-click="setPanel('kinect')">Settings</button>
    </td>
</tr>
<!----------------------------kinect end---------------------------------->
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('ultraSonicRight')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../UltrasonicSensor.png"/>
        <label>UltraSonic Right:</label>
        <toggle width="70" height="30" ng-model="service.isUltraSonicRightActivated" title="To access settings, UltraSonic Right must be activated" ng-change="!service.isUltraSonicRightActivated?msg.stopUltraSonicRight():msg.startUltraSonicRight()" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isUltraSonicRightActivated" ng-click="setPanel('ultraSonicRight')">Settings</button>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('ultraSonicLeft')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../UltrasonicSensor.png"/>
        <label>UltraSonic Left:</label>&nbsp;&nbsp;&nbsp;
        <toggle width="70" height="30" ng-model="service.isUltraSonicLeftActivated" title="To access settings, UltraSonic Left must be activated" ng-change="!service.isUltraSonicLeftActivated?msg.stopUltraSonicLeft():msg.startUltraSonicLeft()" on="ON" off="OFF"/></toggle>&nbsp;&nbsp;
        <button class="btn btn-default" ng-show="service.isUltraSonicLeftActivated" ng-click="setPanel('ultraSonicLeft')">Settings</button>
    </td>
</tr>
</table>
<!------------------------ sensor end ------------------------------>
<!------------------------ pir begin ------------------------------>
<table ng-show="showPanel('pir')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('pir')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
    </td>
</tr>
<tr>
    <td class="tab-content" service-body panel="mrl.getPanel('i01.pir')"></td>
</tr>
<tr>    
    <td>
        <p>---FIXME---</p>
        <label>custom sounds if detection:</label>&nbsp;&nbsp;
        <toggle width="100" height="30" ng-model="PlayCurstomSoundIfDetection" ng-change="PlayCurstomSoundIfDetection" on="ON" off="OFF"/></toggle>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ pir end ------------------------------>
<!------------------------ ultraSonicRight begin ------------------------------>
<table ng-show="showPanel('ultraSonicRight')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('UltraSonicRight')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>UltraSonic Right:</label>
    </td>
</tr>
<tr>
    <td class="tab-content" service-body panel="mrl.getPanel('i01.ultraSonicRight')"></td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ ultraSonicRight end ------------------------------>
<!------------------------ ultraSonicLeft begin ------------------------------>
<table ng-show="showPanel('ultraSonicLeft')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('UltraSonicLeft')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <label>UltraSonic Left:</label>
    </td>
</tr>
<tr>
    <td class="tab-content" service-body panel="mrl.getPanel('i01.ultraSonicLeft')"></td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ ultraSonicLeft end ------------------------------>
<!------------------------ kinect begin ------------------------------>
<table ng-show="showPanel('kinect')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <img src="../kinect.png"/>
        <label>kinect:</label>
    </td>
</tr>
<tr>
    <td class="tab-content" service-body panel="mrl.getPanel('i01.openNi')"></td>
</tr>
<tr>
    <td>
        <p>---FIXME---</p>
        <label>ShouldersOffset:</label>
        <td>
            <toggle width="70" height="30" ng-model="openNiShouldersOffset" ng-change="FIXME" on="ON" off="50"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <p>---FIXME---</p>
        <label>LeftShoulderInverted:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.openNiLeftShoulderInverted" ng-change="!service.isOpenNiActivated?msg.openNiLeftShoulderInverted" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <p>---FIXME---</p>
        <label>RightShoulderInverted:</label>
        <td>
            <toggle width="70" height="30" ng-model="service.openNiRightShoulderInverted" ng-change="!service.isOpenNiActivated?msg.openNiRightShoulderInverted" on="ON" off="OFF"/></toggle>
        </td>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.exportAll()">Save Config</button>
    </td>
</tr>
<tr>
    <td>
        <img width="50" height="50" ng-click="setPanel('sensor')" ng-src="../img/InMoov2/arrow_blue_left.png" src="../img/InMoov2/arrow_blue_left.png">
    </td>
</tr>
</table>
<!------------------------ kinect end ------------------------------>
<!------------------------ InMoov begin ------------------------------>
<table ng-show="showPanel('InMoov')" class="inmoov-sub-panel table table-striped">
    <tr>
        <td>
            <img src="../InMoov_Icon.png"/>
            <label>config</label>&nbsp;&nbsp;&nbsp;&nbsp;<img src="../peers.png" height="28" ng-click="filterPeers(null)"/>
            <div class="form-group">
                <select multiple class="form-control vertical-menu">
                    <option>config-01</option>
                    <option>default</option>
                    <option>my-config-01</option>
                    <option>my-config-02</option>
                    <option>my-config-04</option>
                </select>
            </div>
        <button class="btn btn-default" ng-click="msg.export()">export config</button>
        <button class="btn btn-default" ng-click="msg.exportAll()">export All</button>
            <button class="btn btn-default" ng-click="msg.load()">load</button>
        </td>
    </tr>
    <tr>
        <td>
            <img src="../InMoov.png"/>
            <label>services</label>
            <br/>
            <button class="btn btn-default" ng-click="msg.startAll()">start all</button>
            <!--<button class="btn btn-default" ng-click="msg.loadSystem()">load system</button>-->
            <button class="btn btn-default" ng-click="msg.startServos()">start servos</button>
            <button class="btn btn-default" ng-click="msg.fullSpeed()">full speed</button>
            <button class="btn btn-default" ng-click="msg.halfSpeed()">half speed</button>
            <button class="btn btn-default" type="button" ng-click="msg.stop()">
                <span>
                <img src="../stop.png"/>&nbsp;&nbsp;&nbsp;&nbsp;stop 
            </span>
            </button>
            <button class="btn btn-default" ng-click="msg.disable()">disable</button>
        <!-- FIXME-PLEASE------------------------------------------------------>
        <!--<button class="btn btn-default" type="button" ng-click="msg.setAutoDisable(!service.autoDisable)">autoDisable all 
            <span class="ng-binding">off
            </span>
        </button>-->
        <!--------------------------------------------------------------------->
        </td>
    </tr>
    <tr>
        <td>
            <toggle width="125" height="28" ng-model="service.isVirtual" ng-change="!service.isVirtual?msg.setVirtual(false):msg.setVirtual(true)" on="virtualize ON" off="virtualize OFF"></toggle>
            <toggle width="125" height="28" ng-model="service.isSimulatorActivated" ng-change="!service.isSimulatorActivated?msg.stopSimulator():msg.startSimulator()" on="simulator ON" off="simulator OFF"></toggle>
            <toggle width="135" height="28" ng-model="service.isServoMixerActivated" ng-change="!service.isServoMixerActivated?msg.stopServoMixer():msg.startServoMixer()" on="ServoMixer ON" off="ServoMixer OFF"></toggle>
        </td>
    </tr>
    <tr>
        <td>
            <img src="../InMoovGestureCreator.png"/>
            <label>gestures</label>
            <br/>
            <input class="form-control" type="text" id="gesture" placeholder="Type or select a gesture" ng-model="selectedGesture" ng-readonly="isConnected" press-enter="executeGesture(selectedGesture)" uib-typeahead="gesture for gesture in service.gestures | filter:$viewValue | limitTo:100" typeahead-min-length="0"/>
            <button class="btn btn-default" ng-click="executeGesture(selectedGesture)">execute</button>
            <button class="btn btn-default" title="be caution with this, it will run all the gestures randomly" ng-click="msg.cycleGestures()">cycle gestures</button>
            <button class="btn btn-default" ng-click="msg.loadGestures()">reload gestures</button>
            <!--loading gestures by default-->
            <div ng-init="msg.loadGestures()"/></div>
        </td>
    </tr>
</table>
<!------------------------ panel end ------------------------------>
<!-- panels end -->
</td></tr></table>
