<style>
    #containerTorso2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/TorsoBackground.png");
    z-index: 0;
    float: none;
    }

    #containerTorso2-cell {
    width: 620px;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2TorsoGui.css">
    <td id="containerTorso2-cell">
        <div id="containerTorso2">
            <!-- Right -->
            <div id="torsoIndicator" class="rectangleTorsoIndicator preventTorsoDragSelect">Torso</div>

            <div id="topStomButton" class="dotTorsoButtons rightTorsoSide preventTorsoDragSelect" ng-click="setPanel('topStom')">top Stom</div>
            <div id="topStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="topStomArrowVertical" class="rightTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_vertical.png"/></div>

            <!-- Left -->

            <div id="lowStomButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" ng-click="setPanel('lowStom')">low Stom</div>
            <div id="lowStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="lowStomArrowHorizontal" class="leftTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <div id="midStomButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" ng-click="setPanel('midStom')">mid Stom</div>
            <div id="midStomDot" class="dotTorsoEnabled preventTorsoDragSelect"></div>
            <div id="midStomArrowHorizontal" class="leftTorsoSide preventTorsoDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <div id="leftBackTorsoButton" class="dotTorsoButtons leftTorsoSide preventTorsoDragSelect" ng-click="mrl.changeTab('i01')">Back</div>
            <div id="leftBackTorsoArrow" class="leftBackTorsoArrow preventTorsoDragSelect"></div>

        </div>
    </td>
<td>
<!-- panels begin -->
<!------------------------ torso begin ------------------------------>
<table ng-show="showPanel('torso')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('torso')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso is:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(!service.isTorsoActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>
</table>    
<!------------------------ torso end ------------------------------>
<!------------------------ topStom begin ------------------------------>
<table ng-show="showPanel('topStom')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('topStom')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso is:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(!service.isTorsoActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>   
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.topStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ topStom end ------------------------------>
<!------------------------ midStom begin ------------------------------>
<table ng-show="showPanel('midStom')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('midStom')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso is:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(!service.isTorsoActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.midStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ midStom end ------------------------------>
<!------------------------ lowStom begin ------------------------------>
<table ng-show="showPanel('lowStom')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('lowStom')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovTorso.png"/>
        <label>torso is:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(!service.isTorsoActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.torso.lowStom')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ lowStom end ------------------------------>
<!-- panels end -->
</td></tr></table>
