<style>
    #containerHead2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/HeadBackground.png");
    z-index: 0;
    /* float: none; */
    }

    #containerHead2-cell {
    width: 620px;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2HeadGui.css">
    <td id="containerHead2-cell">
        <div id="containerHead2">
            <!-- Right -->
            <div id="headIndicator" class="rectangleHeadIndicator preventHeadDragSelect">Head</div>

            <div id="eyeLidsButton" class="dotHeadButtons rightHeadSide preventHeadDragSelect" ng-click="setPanel('eyeLids')">eyeLids</div>
            <div id="eyeLidsDot" class="dotHeadEnabled preventHeadDragSelect"></div>

            <div id="eyeYButton" class="dotHeadButtons rightHeadSide preventHeadDragSelect" ng-click="setPanel('eyeY')">eyeY</div>
            <div id="eyeYDot" class="dotHeadEnabled preventHeadDragSelect"></div>
            <div id="eyeYArrowVertical" class="rightHeadSide preventHeadDragSelect"><img src="../img/InMoov2/arrow_vertical.png"/></div>

            <div id="jawButton" class="dotHeadButtons rightHeadSide preventHeadDragSelect" ng-click="setPanel('jaw')">jaw</div>
            <div id="jawDot" class="dotHeadEnabled preventHeadDragSelect"></div>

            <!-- Left -->

            <div id="rotHeadButton" class="dotHeadButtons leftHeadSide preventHeadDragSelect" ng-click="setPanel('rotHead')">rothead</div>
            <div id="rotHeadDot" class="dotHeadEnabled preventHeadDragSelect"></div>
            <div id="rotHeadArrowHorizontal" class="leftHeadSide preventHeadDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <div id="neckButton" class="dotHeadButtons leftHeadSide preventHeadDragSelect" ng-click="setPanel('neck')">neck</div>
            <div id="neckDot" class="dotHeadEnabled preventHeadDragSelect"></div>
            <div id="neckArrowVertical" class="leftHeadSide preventHeadDragSelect"><img src="../img/InMoov2/arrow_vertical.png"/></div>

            <div id="rollNeckButton" class="dotHeadButtons leftHeadSide preventHeadDragSelect" ng-click="setPanel('rollNeck')">rollNeck</div>
            <div id="rollNeckDot" class="dotHeadEnabled preventHeadDragSelect"></div>

            <div id="eyeXButton" class="dotHeadButtons leftHeadSide preventHeadDragSelect" ng-click="setPanel('eyeX')">eyeX</div>
            <div id="eyeXDot" class="dotHeadEnabled preventHeadDragSelect"></div>
            <div id="eyeXArrowHorizontal" class="leftHeadSide preventHeadDragSelect"><img src="../img/InMoov2/arrow_horizontal.png"/></div>

            <a id="leftBackHeadButton" class="dotHeadButtons leftHeadSide preventHeadDragSelect" href="#/service/i01" target="_self">Back</a>
            <div id="leftBackHeadArrow" class="leftBackHeadArrow preventHeadDragSelect"></div>

        </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ headGui begin ------------------------------>
<table ng-show="showPanel('head')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('head')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovHead.png"/>
        <label>head Activated:</label>
    </td>
    <td>
        <toggle width="70" height="28" ng-model="service.isHeadActivated" ng-change="!service.isHeadActivated?msg.stopHead():msg.startHead()" on="ON" off="OFF"/></toggle>
    </td>
</tr>
</table>    
<!------------------------ headGui end ------------------------------>
<!------------------------ eyeY begin ------------------------------>
<table ng-show="showPanel('eyeY')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.eyeY')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ eyeY end ------------------------------>
<!------------------------ eyeX begin ------------------------------>
<table ng-show="showPanel('eyeX')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.eyeX')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ eyeY end ------------------------------>
<!------------------------ rotHead begin ------------------------------>
<table ng-show="showPanel('rotHead')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.rothead')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rotHead end ------------------------------>
<!------------------------ neck begin ------------------------------>
<table ng-show="showPanel('neck')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.neck')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ neck end ------------------------------>
<!------------------------ jaw begin ------------------------------>
<table ng-show="showPanel('jaw')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.jaw')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ jaw end ------------------------------>
<!------------------------ jaw begin ------------------------------>
<table ng-show="showPanel('rollNeck')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.head.rollNeck')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rollNeck end ------------------------------>
<!-- panels end -->
</td></tr></table>
