<style>
    #containerArm2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/ArmBackground.png");
    z-index: 0;
    float: none;
    }

    #containerArm2-cell {
    width: 620px;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2ArmGui.css">
    <td id="containerArm2-cell">
        <div id="containerArm2">
            <!-- Right -->
            <div id="rightArmIndicator" class="rectangleRightArmIndicator preventDragSelect">right Arm</div>

            <div id="rightBicepButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightBicep')">right bicep</div>   
            <div id="rightBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightRotateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightRotate')">right rotate</div>
            <div id="rightRotateDot" class="dotArmEnabled preventArmDragSelect"></div>
            
            <div id="rightShoulderButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightShoulder')">right shoulder</div>
            <div id="rightShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightOmoplateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightOmoplate')">right omoplate</div>
            <div id="rightOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <!-- Left -->
            <div id="leftArmIndicator" class="rectangleLeftArmIndicator preventArmDragSelect">left Arm</div>

            <div id="leftBicepButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftBicep')">left bicep</div>
            <div id="leftBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <a id="leftRotateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftRotate')">left rotate</a>
            <div id="leftRotateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftShoulderButton" class="dotArmButtons leftArmSide preventArmDragSelect"  ng-click="setPanel('leftShoulder')">left shoulder</div>
            <div id="leftShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftOmoplateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftOmoplate')">left omoplate</div>
            <div id="leftOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftBackArmButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="mrl.changeTab('i01')">Back</div>
            <div id="leftBackArmArrow" class="leftBackArmArrow preventArmDragSelect"></div>
            
            <a id="leftDnaButton" class="dotArmButtons leftArmSide preventArmDragSelect" href="http://inmoov.fr/shoulder-and-torso/" target="_blank"><img src="../img/InMoov2/dna_Activ.png"/></a>

       </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ arm begin ------------------------------>
<table ng-show="showPanel('arm')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('leftArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <img ng-src="{{(!service.isLeftArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('rightArm')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isRightArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>
</table>
<!------------------------ arm end ------------------------------>

<!------------------------ rightBicep begin ------------------------------>
<table ng-show="showPanel('rightBicep')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.rightArm.bicep')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isRightArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightBicep end ------------------------------> 
<!------------------------ rightRotate begin ------------------------------>
<table ng-show="showPanel('rightRotate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.rightArm.rotate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isRightArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ rightRotate end ------------------------------> 
<!------------------------ rightShoulder begin ------------------------------>
<table ng-show="showPanel('rightShoulder')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.rightArm.shoulder')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isRightArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightShoulder end ------------------------------> 
<!------------------------ rightOmoplate begin ------------------------------>
<table ng-show="showPanel('rightOmoplate')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.rightArm.omoplate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.right.png"/>
        <label>rightArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isRightArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightOmoplate end ---------------------------->

<!-------HERE START THE LEFT ARM--------------------------------------------->

<!------------------------ leftBicep begin ------------------------------>
<table ng-show="showPanel('leftBicep')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.leftArm.bicep')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isLeftArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>     
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftBicep end ------------------------------> 
<!------------------------ leftRotate begin ------------------------------>
<table ng-show="showPanel('leftRotate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.leftArm.rotate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isLeftArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr>    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ leftRotate end ------------------------------> 
<!------------------------ leftShoulder begin ------------------------------>
<table ng-show="showPanel('leftShoulder')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.leftArm.shoulder')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isLeftArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftShoulder end ------------------------------> 
<!------------------------ leftOmoplate begin ------------------------------>
<table ng-show="showPanel('leftOmoplate')" class="inmoov-sub-panel table table-striped">
    <tr>
    <td>
        <!------THIS FOR THE HOVER ICON WITH PEERS----------------------->
        <img src="../img/InMoov2/markerBlue_right.png" onmouseover="this.src='../img/InMoov2/markerGreen_right.png';" onmouseout="this.src='../img/InMoov2/markerBlue_right.png';" height="14" ng-click="filterPeers('i01.leftArm.omoplate')"/><img src="../img/InMoov2/markerBlue_left.png" onmouseover="this.src='../img/InMoov2/markerGreen_left.png';" onmouseout="this.src='../img/InMoov2/markerBlue_left.png';" height="18" ng-click="filterPeers(null)"/>
        <!--------------------------------------------------------------->
        <img src="../InMoovArm.png"/>
        <label>leftArm is:</label>&nbsp;&nbsp;  
        <img ng-src="{{(!service.isLeftArmActivated)?'../../red.png':'../../green.png'}}"/>
    </td>
</tr> 
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftOmoplate end ------------------------------>        
<!-- panels end -->
</td></tr></table>
