<style>
    #containerArm2{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/InMoov2/ArmBackground.png");
    z-index: 0;
    float: none;
    }

    #containerArm2-cell {
    width: 620px;
    }

    .inmoov-sub-panel {
        width: auto;
        max-width: auto;
        margin-bottom: 0px;
    }

    .inmoov-menu-button {
        position: absolute;
        z-index: 30;
    }

</style>

<table border="1" class="table table-striped">
<tr>
    <td colspan="2">&nbsp;{{onText}} 
    </td>
</tr>
<tr>
    <link type="text/css" rel="stylesheet" media="all" href="../service/css/InMoov2ArmGui.css">
    <td id="containerArm2-cell">
        <div id="containerArm2">
            <!-- Right -->
            <div id="rightArmIndicator" class="rectangleRightArmIndicator preventDragSelect">right Arm</div>

            <div id="rightBicepButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.bicep')">right bicep</div>   
            <div id="rightBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightRotateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.rotate')">right rotate</div>
            <div id="rightRotateDot" class="dotArmEnabled preventArmDragSelect"></div>
            
            <div id="rightShoulderButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.shoulder')">right shoulder</div>
            <div id="rightShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="rightOmoplateButton" class="dotArmButtons rightArmSide preventArmDragSelect" ng-click="setPanel('rightArm.omoplate')">right omoplate</div>
            <div id="rightOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <!-- Left -->
            <div id="leftArmIndicator" class="rectangleLeftArmIndicator preventArmDragSelect">left Arm</div>

            <div id="leftBicepButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.bicep')">left bicep</div>
            <div id="leftBicepDot" class="dotArmEnabled preventArmDragSelect"></div>

            <a id="leftRotateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.rotate')">left rotate</a>
            <div id="leftRotateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftShoulderButton" class="dotArmButtons leftArmSide preventArmDragSelect"  ng-click="setPanel('leftArm.shoulder')">left shoulder</div>
            <div id="leftShoulderDot" class="dotArmEnabled preventArmDragSelect"></div>

            <div id="leftOmoplateButton" class="dotArmButtons leftArmSide preventArmDragSelect" ng-click="setPanel('leftArm.omoplate')">left omoplate</div>
            <div id="leftOmoplateDot" class="dotArmEnabled preventArmDragSelect"></div>

            <a id="leftBackArmButton" class="dotArmButtons leftArmSide preventArmDragSelect" href="#/service/i01" target="_self">Back</a>
            <!--target="_self"-->
            <!--#/service/i01-->
            <!--http://localhost:8888/#/service/i01-->
            <div id="leftBackArmArrow" class="leftBackArmArrow preventArmDragSelect"></div>

       </div>
</td>
<td>
<!-- panels begin -->
<!------------------------ rightArm.bicep begin ------------------------------>
<table ng-show="showPanel('rightArm.bicep')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.bicep end ------------------------------> 
<!------------------------ rightArm.rotate begin ------------------------------>
<table ng-show="showPanel('rightArm.rotate')" class="inmoov-sub-panel table table-striped">   
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ rightArm.rotate end ------------------------------> 
<!------------------------ rightArm.shoulder begin ------------------------------>
<table ng-show="showPanel('rightArm.shoulder')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.shoulder end ------------------------------> 
<!------------------------ rightArm.omoplate begin ------------------------------>
<table ng-show="showPanel('rightArm.omoplate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.rightArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ rightArm.omoplate end ---------------------------->

<!-------HERE START THE LEFT ARM--------------------------------------------->

<!------------------------ leftArm.bicep begin ------------------------------>
<table ng-show="showPanel('leftArm.bicep')" class="inmoov-sub-panel table table-striped">    
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.bicep')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.bicep end ------------------------------> 
<!------------------------ leftArm.rotate begin ------------------------------>
<table ng-show="showPanel('leftArm.rotate')" class="inmoov-sub-panel table table-striped">   
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.rotate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</body>
</table>
<!------------------------ leftArm.rotate end ------------------------------> 
<!------------------------ leftArm.shoulder begin ------------------------------>
<table ng-show="showPanel('leftArm.shoulder')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.shoulder')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.shoulder end ------------------------------> 
<!------------------------ leftArm.omoplate begin ------------------------------>
<table ng-show="showPanel('leftArm.omoplate')" class="inmoov-sub-panel table table-striped">
<tr>
    <td>
        <div class="tab-content" service-body panel="mrl.getPanel('i01.leftArm.omoplate')"></div>
    </td>
</tr>
<tr>
    <td>
        <button class="btn btn-default" ng-click="msg.export()">Save Config</button>
    </td>
</tr>
</table>
<!------------------------ leftArm.omoplate end ------------------------------>        
<!-- panels end -->
</td></tr></table>
